<h1><%= @pokemon.pokemon_name%></h1>

<ul>
<p>Types:</P>
<% @types.each do |types|%>
  <li><%=types.type_name%></li>
<%end%>
</ul>

<ul>
<p>Moves:</P>
<% @moves.each do |move|%>
  <li><%=move.move_name%></li>
<%end%>
</ul>
