  <h1>About Us</h1>

<div class="abt-container">
  <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
    <div class="trainer-img">
      <%= image_tag "349-3498211_pokemon-black-and-white-trainer-battle-sprites-pokemon.jpg" %>
    </div>
    <div class="container-lg">
      <p>The Pokemon Wiki is a comprehensive online resource for all things related to the Pokemon franchise. It serves as a database containing information about various Pokemon species, their abilities, moves, evolutions, and more. Whether you're a beginner looking to learn about Pokemon or a seasoned trainer seeking in-depth details, the Pokemon Wiki is a valuable source of information. It also provides articles on Pokemon games, characters, locations, and the animated series.
        Exploring the Pokemon Wiki can enhance your understanding of the Pokemon universe and aid you in your journey as a Pokemon Trainer.</p>
    </div>
  </div>
</div>
