/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "custom";

 .trainer-img{
  display: inline-block;
 }

 .abt-container{
  text-align: center;
 }

nav {
  padding: 20px;
}

.navbar-nav li {
  margin-right: 20px;
}

.navbar-nav li a {
  color: white !important;
  text-decoration: none;
}

.container img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  width: 200px; /* adjust this value to your desired size */
}

.pagination {
  padding: 20px;
}

.pagination .page-link {
  background-color: #e9ecef;
  border-color: #dee2e6;
  color: #212529;
}

.pagination .page-item.active .page-link {
  background-color: #212529;
  border-color: #212529;
  color: #fff;
}

.pagination .page-link:hover {
  background-color: #ced4da;
  border-color: #ced4da;
  color: #212529;
}

.caption {
  background-color: black;
  color: white;
  padding: 8px;
  text-transform: capitalize;
  text-decoration: none;
}

.caption a {
  color: white;
  text-decoration: none;
}

.btn-outline-success {
  color: #fdfdfd;
  background-color: rgb(29, 29, 29);
  border-color: #ffffff;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: rgb(29, 29, 29);
  border-color: rgb(29, 29, 29);
}
.normal{
  background-color: rgb(168, 168, 168);
  color: white;
  padding: 8px;
  text-transform: capitalize;
  text-decoration: none;
}

.grass{
  background-color: rgb(26, 121, 26);
  color: white;
  padding: 8px;
  text-transform: capitalize;
  text-decoration: none;
}

.fire{
  background-color: rgb(173, 29, 29);
  color: white;
  padding: 8px;
  text-transform: capitalize;
  text-decoration: none;
}

.water{
  background-color: rgb(10, 50, 180);
  color: white;
  padding: 8px;
  text-transform: capitalize;
  text-decoration: none;
}

.electric{
  background-color: rgb(193, 177, 32);
  color: white;
  padding: 8px;
  text-transform: capitalize;
  text-decoration: none;
}

.bug{
  background-color: rgb(134, 152, 52);
  color: white;
  padding: 8px;
  text-transform: capitalize;
  text-decoration: none;
}

.psychic{
  background-color: rgb(187, 0, 255);
  color: white;
  padding: 8px;
  text-transform: capitalize;
  text-decoration: none;
}

.ghost{
  background-color: rgb(56, 4, 96);
  color: white;
  padding: 8px;
  text-transform: capitalize;
  text-decoration: none;
}

.dark{
  background-color: rgb(25, 25, 25);
  color: white;
  padding: 8px;
  text-transform: capitalize;
  text-decoration: none;
}

.fighting{
  background-color: rgb(186, 100, 47);
  color: white;
  padding: 8px;
  text-transform: capitalize;
  text-decoration: none;
}

.ice{
  background-color: rgb(0, 163, 184);
  color: white;
  padding: 8px;
  text-transform: capitalize;
  text-decoration: none;
}

.fairy{
  background-color: rgb(216, 108, 160);
  color: white;
  padding: 8px;
  text-transform: capitalize;
  text-decoration: none;
}

.ground{
  background-color: rgb(103, 72, 28);
  color: white;
  padding: 8px;
  text-transform: capitalize;
  text-decoration: none;
}

.rock{
  background-color: rgb(104, 86, 61);
  color: white;
  padding: 8px;
  text-transform: capitalize;
  text-decoration: none;
}

.steel{
  background-color: rgb(44, 59, 78);
  color: white;
  padding: 8px;
  text-transform: capitalize;
  text-decoration: none;
}

.flying{
  background-color: rgb(109, 125, 190);
  color: white;
  padding: 8px;
  text-transform: capitalize;
  text-decoration: none;
}

.poison{
  background-color: rgb(85, 10, 171);
  color: white;
  padding: 8px;
  text-transform: capitalize;
  text-decoration: none;
}

.dragon{
  background-color: rgb(3, 138, 113);
  color: white;
  padding: 8px;
  text-transform: capitalize;
  text-decoration: none;
}

ul{
  padding-right: 30px;
}

li{
  height: auto;
  list-style: none;
  text-transform: capitalize;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px; /* height of the footer */
}
